<div id="<%= dom_id openai_query %>">
  <p>
    <strong>Query:</strong>
    <%= openai_query.query %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= openai_query.answer %>
  </p>

  <p>
    <strong>User:</strong>
    <%= openai_query.user.email %>
  </p>

</div>
