<h1>Editing openai query</h1>

<%= render "form", openai_query: @openai_query %>

<br>

<div>
  <%= link_to "Show this openai query", @openai_query %> |
  <%= link_to "Back to openai queries", openai_queries_path %>
</div>
